html {
    background: rgb(5, 0, 0);
}

body {
    font-family: "Courier New", Courier, sans-serif;
    width: 75%;
}

nav {
    float:right;
    font-size: 45px;
}

nav a {
    font-size: 10;
    color: #ec122f; 
    text-decoration:none;
}

nav a:hover {
    color:  #b3b000;
}
#container {
width: 100%;
}

#logo {
    font-size: 40px;
    line-height: 1.4;
    margin: 60px;
    max-width: 100%;
    align-content: center;
}

#logo a {
    color: #4424c4;
}

#logo a:hover {
    color:  #b3b000;
}

#chapter {
    text-align: left;
    float: left;
    font-size: 20px;
    margin: 30px;
    color:  #fdfdfc;
}